{#
    This is currently unused, but included for reference. CSS from
    .venv/share/jupyter/nbconvert/templates/lab/index.html.j2
    can be supplemented or overridden.
#}


{% extends 'lab/index.html.j2' %}


{% block notebook_css %}
...
{% endblock %}
