[run]
# All files under source are checked, even if not otherwise referenced.
source = .

omit =
  tests/fixtures/*

# More strict: Check transitions between lines, not just individual lines.
branch = True

[report]
show_missing = True
skip_covered = True
fail_under = 100
exclude_also =
    def template
