[flake8]
exclude = .git,.venv,.venv-*,__pycache__

# Config recommended by black:
# https://black.readthedocs.io/en/stable/guides/using_black_with_other_tools.html#bugbear
max-line-length = 80
extend-select = B950
extend-ignore = E203,E501,E701

per-file-ignores =
    # Ignore undefined names in templates.
    **/no-tests/*.py:F821,F401,E302
