# After making changes here, run dependencies.py.

# OpenDP:
opendp[polars]==0.12.1a20250227001

# Conversion:
jupytext
jupyter-client
pyyaml
nbconvert
ipykernel
# May also require:
# python -m ipykernel install --name kernel_name --user

# Shiny:
shiny
faicons

# Visualization:
matplotlib
