# After making changes here, run dependencies.py.

# Developer tools:
pip-tools
flit
black
flake8
flake8-bugbear
pre-commit
tomlkit

# Testing:
pytest
pytest-playwright
pyright
pytest-cov
pytest-xdist

# App dependencies:
-r requirements.in
