name: Test

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        python-version:
          - '3.9'
          - '3.12'

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install flit
        run: pip install flit

      - name: Install package
        run: flit install

      - name: Check CLI
        # TODO: This won't catch most missing dependencies.
        run: dp-creator-ii --help

      - name: Install dev dependencies
        run: pip install -r requirements-dev.txt

      - name: Install browsers
        run: playwright install

      - name: Test
        run: ./ci.sh

      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-traces
          path: test-results/
