name: Test

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        python-version:
          - '3.10'
          - '3.13'
        requirements-file:
          - 'requirements-dev.txt' # pinned, for predictability
          - 'requirements-dev.in' # un-pinned, so we catch problems early

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install flit
        run: pip install flit

      - name: Install package
        run: flit install

      - name: Install dev dependencies
        run: pip install -r ${{ matrix.requirements-file }}

      - name: Install browsers
        # Install just one browser instead of the default three.
        # https://playwright.dev/python/docs/browsers#managing-browser-binaries
        run: playwright install chromium

      - name: Test
        run: ./ci.sh

      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-traces
          path: test-results/
